{% extends 'partials/base.html' %}
{% load static %}


{% block contents %}
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <!-- pass: u5wvnoc, user: krmb6ch -->
                <iframe src="https://trade.mql5.com/trade?demo_all_servers=1&amp;startup_mode=open_demo&amp;lang=us&amp;save_password=off" allowfullscreen="allowfullscreen" style="width: 100%; min-height: calc(100vh - 100px); border: none;"></iframe>
            </div>
        </div>
    </div>
</div>
<!-- end row -->
{% endblock %}
